@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=Rubik:ital,wght@0,300;0,400;0,500;1,400&display=swap');

html {
  background-color: #282c34;
}

body {
  margin: auto 20%;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  color: #61dafb;
}

h3 {
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 1.5rem;
  font-weight: bold;
  color: #61dafb;
}

h2 {
  margin-left: 1rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #61dafb;
}



p {
  font-family: 'DM Mono', monospace;
  font-size: 1.25rem;
  color: #61dafb;
}

li {
  font-family: 'DM Mono', monospace;
  font-size: 1.25rem;
  text-align: left;
  color: #61dafb;
  list-style: none;
}

a {
  font-family: 'DM Mono', monospace;
  font-size: 1.25rem;
  color: #61dafb;
  text-decoration: none;
  list-style: none;
}

li :hover {
  color: #8f8f8f;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.poke-box {
  margin-left: -20px;
  background-color: #282c34;
}

.poke-box :hover::after {
  content: "🛠";
  position: absolute;
  right: 25%;
  font-size: 1.5rem;
}

.poke-rs {
  text-align: center;
}

.poke-rs img {
  width: 50%;
}
/* content: "g"; */
/* font-family: 'bulletsregular'; */

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  .poke-box :hover::after {
  content: "🛠";
  position: absolute;
  right: 30%;
  font-size: 1.5rem;
}
}
